body{
    margin: 0;
    padding: 0;
}

#form{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 10px;
}

label{
    margin: auto 10px;
}

#date{
    margin-right: 20px;
}

table, th, td{
    border: 1px solid black;
}

#output{
    width: 1000px;
    text-align: center;
}

.result{
    display: grid;
    justify-content: center;
    align-items: center;
}

table {
    counter-reset: rowNumber;
}

tbody tr {
    counter-increment: rowNumber;
}

tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

