body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: green;
}

#form{
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

label{
    margin: auto 10px;
}

#date{
    margin-right: 20px;
}

table, th, td{
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
}

#output{
    text-align: center;
}

.result{
    padding: 0 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

table {
    counter-reset: rowNumber;
}

tbody tr {
    counter-increment: rowNumber;
}

tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    /* margin-right: 0.5em; */
}

#emp-name{
    height: 30px;
}

input[type='number']{
    width: 80px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table>th::nth-child(:last-child){
    width: 1000px;
    display: none;
}

.month-year{
    text-align: left;    
}

.total td:first-child::before {
    content: none;
    min-width: 1em;
}

.total {
    font-weight: bold;
}